test.ipynb
test_py.ipynb
# demo.ipynb

examples/mc/*
!examples/mc/.gitkeep

examples/sqs/*
!examples/sqs/.gitkeep

# data/kpoints/*
# !data/kpoints/.gitkeep

data/dft/*
!data/dft/.gitkeep

data/fcc/32/*
!data/fcc/32/.gitkeep

# data/fcc/256/*
# !data/fcc/256/.gitkeep

data/fcc/192/*
!data/fcc/192/.gitkeep

data/fcc/500/*
!data/fcc/500/.gitkeep

data/coef/regr_best_mix_108_192_32_240623.pkl

# data/fcc/108/*
# !data/fcc/108/.gitkeep

# data/coef/*
# !data/coef/.gitkeep

# data/cluster/*
# !data/cluster/.gitkeep

# src/*
# !src/.gitkeep

archive